{
  "pivotal": {
    "baseUri": "https://www.pivotaltracker.com/services/v5",
    "credentials": {
      "owner": {
        "token": ""
      }
    }
  },
  "trello": {
    "baseUri": "https://api.trello.com/1",
    "credentials": {
      "owner": {
        "key": "",
        "token": ""
      }
    }
  },
  "todoist": {
    "baseUri": "https://api.todoist.com/rest/v1",
    "credentials": {
      "owner": {
        "token": ""
      }
    }
  },
  "sfdc": {
    "baseUri": "/services/data/v48.0/sobjects",
    "credentials": {
      "owner": {
        "clientId": "",
        "clientSecret": "",
        "securityToken": "",
        "userName": "",
        "password": "",
      }
    }
  }
}